/******************************************************************************

    bj.screen-comps.css
    Andy Knoll
    December 2018

******************************************************************************/

.button-a {
  position: absolute;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  color: #eeeeee;
  background-color: #006600;
  border-radius: 10px;
}

.button-a:hover {
  color: #eeeeee;
  background-color: #008800;
}

.button-b {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  font-size: .8rem;
  background-color: #dddddd;
}

.button-b:hover {
  background-color: #eeeeee;
}






#splash-screen {
  position: absolute;
  top: -100px;
  left: 0px;
  height: 700px;
  width : 1200px;
  background-color: #003300;
  border: 0px solid black;
  background-image: url("../assets/img/splash-2-1200x700.jpg");
}


.splash-button {
  position: absolute;
  height: 100px;
  width: 400px;
  font-size: 2rem;
  color: #eeeeee;
  background-color: #004400;
  border-radius: 20px;
  border: 2px solid white;
  opacity: .9;
}

.splash-button:hover {
  color: #eeeeee;
  background-color: #005500;
}

#splash-button {
  top: 500px;
  left: 400px;
}

.splash-title {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 190px;
  width: 1200px;
  font-size: 7rem;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  color: gold;
  background-color: rgba(0, 128, 0, .25);
}




#screens-comp {
  position: absolute;
  top: 100px;
  height: 600px;
  width : 1200px;
  border: 0px solid black;
}

.base-screen {
  position: absolute;
  top: 0px;
  height: 600px;
  width : 1200px;
  color: #eeeeee;
  border: 0px solid black;
  visibility: visible;
  opacity: 0;
}


#table-screen {
  background-color: #003300;
  border: 0px solid black;
}

/*
#ante-screen {
}
*/

#play-screen {
  background-color: #003300;
  border: 0px solid black;
}


#debug-screen {
  color: #000000;
  background-color: #cccccc;
  border: 0px solid black;
}



/* Table Screen */
#button-settings { top: 480px; left: 10px; }
#button-play { top: 540px; left: 10px; }

/* Ante Screen */
#button-incr { top: 420px; left: 10px; }
#button-decr { top: 480px; left: 10px; }
#button-ok   { top: 540px; left: 10px; }

/* Play Screen */
#button-hit  { top: 480px; left: 10px; }
#button-stay { top: 540px; left: 10px; }



#display {
  position: absolute;
  top: 20px;
  left: 300px;
  height: 560px;
  width: 870px;
  padding-left: 10px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid black;
}

#debug-buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 560px;
  width: 260px;
  border: 0px solid black;
}

